/* fonts: Karla & 'Source Code Pro' */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
